<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="update" method="post">
        <input name="id" value="{$data.id}" type="hidden" />
        Name: <input name="name" label="name" value="{$data.name}" /><br/>
        Password: <input name="password" label="password" value="{$data.password}" /><br/>
        Repassword:  <input name="repassword" label="repasswrod" value="{$data.repassword}" /> <br/>
        Email: <input name="email" label="email" value="{$data.email}" /><br/>
        <input name="ip" value="{$data.ip}" type="hidden" />
        <input name="submit" type="submit" value="submit"/><br/>
    </form>
</div>
</body>
</html>